body {
    /*font-weight: 400;
    font-family: outfit, sans-serif;
    text-align: center;
    margin: auto;
    padding: auto;
    display: block;
    background-color: hsl(0, 0%, 100%);*/

    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    height: 200vh;
    width: 100vw;
    max-width: 300px;
    color: hsl(218, 44%, 22%);
    margin: auto;
    background-color: hsl(212, 45%, 89%);    
    text-align: center;
}

.container{
    height: 420px;
    width: 300px;
    flex-direction: column;
    flex: content;
}
.card {
    margin-top: 50px;
    background-color: hsl(0, 0%, 100%);
    border: 2px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}
.card img {
  `
    border: 2px;
    border-radius: 10px;
    width:100%;
    max-width: 300px;
    height: 0%;
    display: inline; 
}

h1 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 15px;

}